@import'./func';
.main{
    display: inline-grid;
    grid-template-columns: 42% 57%;
    
  }
  .product{
    display:flex;
    flex-direction: column;
  
  }
  .product_title{
    display: inline;
    font-size: 20px;
    background-color: corecolor;
    color: rgb(239,57,78);
    margin: 4px 16px 2px 0px;
  }
  .left_main{
    margin-right: 30px;
    display: grid;
    grid-template-columns: 69% 31%;
  }
  .rout{
    color: blue;
  }
  .property_product{
    display: inline;
  }
  .product_fullname{
      @extend .property_product;
      padding: 2px;
      @include bottomborder(0.8);

  }
  .color{
    @extend .property_product;
  }
  .feature_title{
      display:block;
      font-size: 16px;
      color:gray;
      margin: 12px 30px 0px 1px;
  }
  .cost{
      margin-top: 90px ;
      width: 325px;
      height: 450px;
      background-color: rgba(245, 245, 245, 0.921);
      border-radius: 16px;
  }
  .cost_title{
      box-sizing: border-box;
      margin: 24px 12px ;
      padding-top: 20px;
  }
 
     
    
  